.motion_rapid-layout {
  width: 100vw;
  height: 100vh;
  position: relative;
  --toolBar-layout-size: 130px;
  overflow: hidden;
}

.toolBar-layout {
  height: var(--toolBar-layout-size);
}

.editor-layout {
  width: 100%;
  height: calc(100vh - var(--toolBar-layout-size));
  position: relative;
}

.editor-layout * {
  user-select: none;
  /* z-index: 500; */
}

.composite_editor-layout {
  position: absolute;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.preview-layout {
  position: absolute;
  margin-left: var(--layout-expand-min_size);
  width: calc(100% - var(--layout-expand-min_size) * 2);
  height: calc(100% - var(--layout-expand-min_size));
  overflow: hidden;
}

.timeline-layout {
  position: absolute;
  width: 100%;
  overflow: hidden;
  bottom: 0px;
}

.composite_editor-layout {
  z-index: 550;
}

.timeline-layout {
  z-index: 400;
}

.preview-layout {
  z-index: 300;
}
