.parameter_area-entity > .keyframe-area {
  width: calc(var(--keyfrmae-size) * 1px);
  height: calc(var(--keyfrmae-size) * 1px);
  position: relative;
  left: 100px;
}

.parameter_area-entity > .keyframe-area > .keyframe-entity {
  background-color: rgb(0, 0, 0);

  width: calc(var(--keyfrmae-size) / 2 * 1px);
  height: calc(var(--keyfrmae-size) / 2 * 1px);
  transform: rotate(45deg);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
