.media_object-area-layer_panel {
}

.media_object-area-layer_panel .layer_panel-entity {
  height: var(--media_object-height);
}
.media_object-area-layer_panel .layer_panel-animator {
}

.media_object-area-layer_panel p {
  margin: 0px;
  font-size: 5px;
  height: var(--animator-height);

  display: flex;
  align-items: center;
}

.layer_panel-animator .layer_panel-animator-entity,
.layer_panel-animator .layer_panel-animator_group-entity {
  height: var(--animator-height);
  margin-left: 20%;
}
/* media_object-area media_object-area-layer_panel */
/*   layer_panel-media_object */
/*   layer_panel-animator layer_panel-animator-entity*/

.layer_panel-animator .layer_panel-animator-entity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.layer_panel-animator .layer_panel-animator-entity p {
  width: 40px;
}

.layer_panel-animator-entity .layer_panel-animator-entity-insert_keyframe_button {
  width: 20px;
  height: var(--animator-button-height);
  background-color: rgb(100, 100, 200);
  margin-right: 3px;
}

.layer_panel-animator-entity .layer_panel-animator-entity-css_property {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.layer_panel-animator-entity-css_property input {
  font-size: 16px; /*フォントサイズ*/
  width: 40px;
  /* height: 15px;
  line-height: 15px; */
}
