.animator_area {
  width: 100%;
  min-height: 0px;
}

.animator_area > .animator_area-entity {
  --animator-height: 20px;
  /* react側から後から定義  可変数*/

  height: var(--animator-height);

  width: 100%;
  position: relative;
  /* 
  display: flex; */
}
