.parameter_area {
  width: 100%;
  min-height: 0px;
}

.parameter_area > .parameter_area-entity {
  --parameter-height: 0px;
  /* react側から後から定義  可変数*/

  height: var(--parameter-height);

  width: 100%;
  position: relative;
  /* 
  display: flex; */
}
