.timeline-main {
  position: relative;
  background-color: rgb(50, 50, 50);
  width: auto;

  margin: 0px 2px 200px 2px;
}

.timeline-main * {
  user-select: none;
  z-index: 500;
}

.timeline-area {
  /* position: absolute; */

  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;

  width: 100%;
  height: 90vh;
  margin: 0px;
}

.timeline-area-scroll {
  position: absolute;
  /* background-color: rgb(200, 200, 200); */
  margin: 0px;
  /* width: 3000px; */
  left: 0px;
  top: 0px;
}

.timeline-area-scroll .media_object-area {
  /* background-color: rgb(200, 200, 200); */
  width: 100%;
  margin: 0px;
  --media_object-height: 20px;
  /* メディアオブジェクトの高さ */

  --animator-height: 20px;
  /* アニメーター部分の高さ */

  --keyfrmae-size: 20;
  /* キーフレームレイヤーの高さ */

  --animator-button-height: 18px;
  /* レイヤーパネルにある、アニメーターのbuttonなどの高さ */

  display: flex;
}

.timeline-area-scroll .media_object-area-space {
  margin: 0px;
  width: 100%;
  height: 2px;
}

.timeline-area-scroll .media_object-area-scroll {
  /* background-color: rgb(50, 150, 50); */
  position: relative;
  height: var(--media_object-height);
  border-radius: 3px;
  /* 
    width: 1000px;
    left:100px; */
}

.media_object-area .media_object-area-layer_panel {
  min-width: 400px;
  width: 20vw;
  margin: 0px;
  background-color: rgb(100, 100, 100);
  /* height: var(--media_object-height); */
}

.media_object-area .media_object-area-layer_duration {
  /* width: 70vw; */
  margin: 0;
  flex: 1;
}
