.timeline-area {
  background-color: rgb(50, 50, 50);
  width: auto;
  height: 90vh;
  margin: 0px 2px 200px 2px;
  overflow: scroll;
}

.timeline-area * {
  user-select: none;
  z-index: 500;
}

.timeline-area-scroll {
  /* background-color: rgb(200, 200, 200); */
  margin: 0px;
  width: 1500px;
}

.timeline-area-scroll > .media_object-area {
  /* background-color: rgb(200, 200, 200); */
  width: 100%;
  margin: 0px;
  --media_object-height: 20px;
  /* メディアオブジェクトの高さ */

  --animator-height: 20px;
  /* アニメーター部分の高さ */

  --keyfrmae-size: 20;
  /* キーフレームレイヤーの高さ */

  display: flex;
}

.timeline-area-scroll .media_object-area-space {
  margin: 0px;
  width: 100%;
  height: 2px;
}

.timeline-area-scroll .media_object-area-scroll {
  background-color: rgb(50, 150, 50);
  position: relative;
  height: var(--media_object-height);
  border-radius: 3px;
  /* 
    width: 1000px;
    left:100px; */
}

.media_object-area .media_object-area-layer_panel {
  width: 30%;
  margin: 0px;
  background-color: rgb(100, 100, 100);
  /* height: var(--media_object-height); */
}

.media_object-area .media_object-area-layer_duration {
  width: 70%;
  margin: 0px;
  overflow: hidden;
}
