.toolBar-area {
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 50px;
  margin: 2px 2px 0px 2px;
  /* overflow: scroll; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.toolBar-area * {
  z-index: 1000;
}

.toolBar-area .toolBar_single-area {
  background-color: rgb(255, 255, 255);
  /* width: 100px; */
  height: 40px;
  margin-left: 2px;
  margin-right: 2px;
}

.toolBar-area .toolBar_single-area:hover {
  background-color: rgb(240, 240, 240);
}

.toolBar-area .toolBar_single-area .toolBar_single-area-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolBar_single-area-title p {
  font-size: 10px;
  margin: auto;
}

.toolBar_single-popupMenu {
  width: 100px;
  min-height: 100px;
  background-color: rgb(240, 240, 240);
  position: absolute;
}
