.toolBar {
  margin-bottom: 5px;
}

.toolBar-area {
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 50px;
  margin: 2px 2px 0px 2px;
  /* overflow: scroll; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.toolBar-area .toolBar_single-area {
  background-color: rgb(255, 255, 255);
  /* width: 100px; */
  margin-left: 2px;
  margin-right: 2px;
}

.toolBar-area .toolBar_single-area:hover {
  background-color: rgb(240, 240, 240);
}

.toolBar-area .toolBar_single-area .toolBar_single-area-title {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolBar_single-area-title p {
  font-size: 10px;
  margin: 0px;
}

.toolBar-composite {
  display: flex;
}
.toolBar-composite p {
  margin-top: 0px;
  margin-bottom: 0px;
}
