:root {
  --background-A: rgb(50, 50, 50);
  /* 標準色 */
  --background-B: rgb(70, 70, 70);
  /* ちょっと薄い */

  --background-C: rgb(170, 170, 170);
}

#root {
  margin: 5px;
}

body {
  padding: 0px;
  margin: 0px;
}
