.timeNavigator-header {
  display: flex;
  height: 60px;
  overflow: hidden;
}

.timeNavigator-header-layer_panel {
}

.timeNavigator-header-layer_duration {
  position: relative;
  flex: 1;
  overflow: hidden;
}
