.timeNavigator-header {
  display: flex;
  height: 100px;
  overflow: hidden;
}

.timeNavigator-header-layer_panel {
  width: 400px;
}

.timeNavigator-header-layer_duration {
  position: relative;
  flex: 1;
}
