.timeNavigator-playhead {
  width: 50px;
  height: 30px;
  background-color: brown;
  position: absolute;
  bottom: 0;
  border-radius: 10px; /*角丸にする*/
  z-index: 440;
}

.timeNavigator-playhead p {
  color: rgb(220, 220, 220);
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.timeline-playhead {
  width: 3px;
  height: 100%;
  background-color: brown;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 440;
}

.timeNavigator-playhead-area {
  width: 100%;
  height: 40px;
  position: relative;
}
