.timeNavigator-timeline {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0px;
}

.timeNavigator-timeline-layer_panel {
  min-width: 500px;
}

.timeNavigator-timeline-layer_duration {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.timeNavigator-timeline * {
  /* z-index: 700; */
}
