.preview-main {
  width: 90vw;
  height: 90vh;
  position: relative;
}

.preview-main * {
  z-index: 300;
}

.preview-overlay-update {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.preview-replace {
  width: 100%;
  height: 100%;
}

.preview-overlay {
  /* width: 100%; */
  /* height: 100%; */
  position: absolute;
  top: 0px;
  overflow: hidden;
  /* pointer-events: none; */
  /* box-sizing: border-box; */
  /* pointer-events: none; */
}

.preview-overlay * {
  user-select: none;
}

.preview-overlay-shape {
  background-color: rgba(100, 100, 200, 0);
  position: absolute;
  overflow: hidden;
  z-index: 301;
}
.preview-overlay-shape:hover {
  background-color: rgba(100, 100, 200, 0.3);
}

.preview_overlay_navigator {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 100px;
  height: 100%;
}

.preview_overlay_navigator_block,
.preview_overlay_navigator_thentime_block {
  position: absolute;
}

.preview_overlay_navigator_gray_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.3);
}
